<html>  
  <head>
    <title>Spin And Win</title>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/Style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/js/Script.js"></script>
    </head>
  <body>    
    <div id = "Header">
        <img src = "static/img/chatime-logo-white.svg">
    </div>
    
    <div id = "Container_One">
        <div class = "grid-100"></div>
        <div class = "grid-80">
            <span id = "Text_field" style = "color:white;font-size:60px;">
            <span id = "Text_Field_Name" style = "color:#4F1A6C;">{{Name}},</span><br>
                <span id = "Text_Field_Img"><img src = "static/img/Spin_To_Win_Txt.png"/><br></span>
            <span id = "Text_Prize">a Chatime treat is currently unavailable.</span></span>
        </div>
        <div class = "grid-100"></div>
        <div class = "grid-100">
            
        </div>
    </div>
    <div class = "grid-100"></div>
    <div class = "grid-80">
        <div id = "Spin_And_Win_Btn" style = "background-color:#4F1A6C;color:white;">TRY AGAIN LATER</div>
    </div>
    <div class = "grid-100"></div>
    <div class = "grid-80">
    <div id = "Text_Field">
            <span style = "color:white; font-weight:100; font-family:'Lasiver Thin'; font-size:30px">Return to a participating store in order to participate in the Chatime Spin To Win promotion</span><br>
            <span style = "color:#00b48d; font-weight:600;">See full terms and conditions</span>
        </div>
    </div>      
  </body>
</html>  